body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url("../Img/BG2.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

h1 {
    color: #242424;
}

.music-row a {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

a:hover {
    background-color: #007bff8c;
}

audio {
    transform: translateX(-50%);
    z-index: 9999;
    width: 90%;
    margin-left: 50%;
}

.music-player-container {
    background-color: #ffffff6c;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(5px);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    line-height: 100px;
}

.music-player {
    text-align: center;
    margin-top: 20px;
}

.controls button {
    display: none;
}

.controls img {
    width: 40px;
    margin: 5px;
    cursor: pointer;
}

.progress-bar {
    -webkit-appearance: none !important;
    margin: 10px;
    padding: 0px;
    background-color: #ffffff62;
    height: 8px;
    width: 80%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #007bff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: -100vw 0 0 100vw #8ec1ffc3;
}